:root {
  --tan-dark: #cb997e;
  --tan-med: #ddbea9;
  --tan-light: #ffe8d6;
  --green-light: #b7b7a4;
  --green-med: #a5a58d;
  --green-dark: #6b705c;
}

* {
  /* border: 1px solid var(--green-dark); */
  font-family: Roboto, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 0;
}

.sidebar {
  min-width: 200px;
  display: grid;
  background-color: var(--green-dark);
  padding: 20px;
}

.logo_section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 30px;
  margin-top: -20px;
}

.logo {
  transform: scale(2);
  padding: 10px;
}

.sidebar div ul {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 10px 1fr;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.main_screen {
  display: grid;
}

.header {
  display: grid;
  gap: 20px;
  background-color: var(--tan-light);
}

.top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects_section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--tan-med);
}

.projects_box {
  grid-area: 1 / 1 / span 2 / span 1;
}

h2 {
  padding-left: 10px;
}

.projects {
  display: grid;
  gap: 10px;
  margin: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  background-color: var(--tan-light);
}

.projects .card {
  display: grid;
  grid-template-rows: 30px 1fr 30px;
  grid-template-columns: 30px 1fr 30px 30px 30px;
  border-left: 1rem solid var(--green-light);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--green-dark);
}

.projects .card .class_logo{
  grid-area: 1 / 1 / span 1 / span 1;
  align-self: center;
}

.projects .card .title{
  grid-area: 1 / 2 / span 1 / span 2;
  font-weight: 600;
  align-self: center;
}

.projects .card .description{
  grid-area: 2 / 1 / span 1 / span 3;
}

.projects .card .star_logo{
  grid-area: 3 / 3;
}

.projects .card .eye_logo{
  grid-area: 3 / 4;
}

.projects .card .share_logo{
  grid-area: 3 / 5;
}

.announcements {
  background-color: var(--tan-light);
  grid-area: 1 / 2;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--green-dark);
  padding: 10px;
  margin: 10px;
}

.announcements .card {
  display: grid;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #a5a58d, transparent);  
}

.trending {
  background-color: var(--tan-light);
  grid-area: 2 / 2;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--green-dark);
  padding: 10px;
  margin: 10px;
  display: grid;
  gap: 20px;
}

.trending div {

}